<mat-sidenav-container [hasBackdrop]="true" [style]="{
  'height': '100%',
  'overflow-x': 'hidden'
}">
  <mat-sidenav autoFocus="false" #sidenav mode="over" autoFocus="false" fixedInViewport="true" [fixedTopGap]="window.innerWidth > 650? 55.927 : 55.927+32">
    <mat-nav-list>
      <cdk-accordion>
        <cdk-accordion-item #attractorAccordionItem="cdkAccordionItem">
          <mat-list-item (click)="attractorAccordionItem.toggle()">
            Attractors
            <mat-icon [ngStyle]="{'transform': attractorAccordionItem.expanded? 'rotate(0deg)' : 'rotate(180deg)'}">
              expand_less</mat-icon>
          </mat-list-item>
          <div class="expansion-panel" [attr.aria-expanded]="attractorAccordionItem.expanded" [style.transition]="'height ' + attractors.length / 10 + 's'" [style.height]="attractorAccordionItem.expanded ? attractors.length * 40 + 'px' : '0px'">
            <a mat-list-item *ngFor="let attractor of attractors" role="link" routerLinkActive="active-project" routerLink="{{attractor.path}}">
              <span class="spacer"></span>
              {{attractor.name | truncate: attractor.name.length - attractor.truncateLength}}
            </a>
          </div>
        </cdk-accordion-item>
        <cdk-accordion-item #pendulumAccordionItem="cdkAccordionItem">
          <mat-list-item (click)="pendulumAccordionItem.toggle()">
            Pendulums
            <mat-icon [ngStyle]="{'transform': pendulumAccordionItem.expanded? 'rotate(0deg)' : 'rotate(180deg)'}">
            expand_less</mat-icon>
          </mat-list-item>
          <div class="expansion-panel" [attr.aria-expanded]="pendulumAccordionItem.expanded" [style.transition]="'height ' + pendulums.length / 10 + 's'" [style.height]="pendulumAccordionItem.expanded ? pendulums.length * 40 + 'px' : '0px'">
            <a mat-list-item *ngFor="let pendulum of pendulums" role="link" routerLinkActive="active-project" routerLink="{{pendulum.path}}">
              <span class="spacer"></span>
              {{pendulum.name | truncate: pendulum.name.length - pendulum.truncateLength}}
            </a>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngStyle]="{height: '55.927px'}">
      <button mat-icon-button aria-label="open menu" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h4 class="mat-typography-h4">Canvas Projects</h4>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
