:host {
  div.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary-darker-color));
    div.external-contact {
      display: block;
      max-width: fit-content;
      * {
        margin-block: 2em;
      }
      a img {
        display: inline;
        margin-inline: 2vw;
        max-width:1.5em;
        max-height:1.5em;
        width: auto;
        height: auto;
      }
    }
  }
}
