<mat-toolbar role="navigation" color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <span routerLink="/landing-page" aria-hidden="false" class="logo" aria-label="Home page link" role="link" style="margin-right: 1em; cursor: pointer;" matTooltip="Home page" matTooltipPosition="after">
      <img src="assets/favicon.svg" alt="logo" />
    </span>
    <div class="links" *ngIf="!isWindowSmall">
      <a
        matRipple
        *ngFor="let navigation of navigations"
        routerLink="{{navigation.route}}"
        routerLinkActive="active"
      >{{navigation.text}}</a>
    </div>
    <button
      [matTooltip]="'Switch to '+switchTheme"
      matTooltipPosition="before"
      #tooltip="matTooltip"
      class="toggle"
      aria-label="Switch theme"
      mat-icon-button
      (click)="toggleTheme(); emitEvent(); tooltip.show()"
      style="margin-left: auto;"
      matTooltipClass="theme-tooltip"
    ><mat-icon>{{themeIcon}}</mat-icon></button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="isWindowSmall" style="height: min-content; overflow-x: auto;">
    <div class="links" [style]="{width: '100%', justifyContent: 'center'}">
      <a
        [@fadeIn]
        matRipple
        [style.padding]="'0px'"
        *ngFor="let navigation of navigations"
        routerLink="{{navigation.route}}"
        routerLinkActive="active"
      >{{navigation.text}}</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
