<div class="full-functionality-canvas" style="overflow: hidden;">
  <button mat-flat-button color="primary" (click)="start()">start</button>
  <button mat-flat-button color="primary" (click)="stop()">stop</button>
  <canvas (window:resize)="onResize()" #canvas appCanvasResize></canvas>
  <button
    mat-mini-fab
    color="accent"
    matTooltip="View in fullscreen"
    matTooltipPosition="left"
    [appFullScreen]="canvas"
    aria-label="fullscreen"
  ><mat-icon>fullscreen</mat-icon></button>
</div>
