<ng-container>
  <div class="calculator-container">
    <div class="calculator-input-container">
      <div class="calculator-quick-operation">0</div>
      <div class="calculator-input">{{display}}</div>
    </div>
    <div class="calculator-buttons">
      <div class="more-operations">
        <button
          class="button scientific"
          mat-button
          *ngFor="let i of
            ['%', 'CE', 'C', '1/x', 'x²', '√x']">{{i}}</button>
      </div>
      <div class="numbers">
      </div>
      <div class="operations">
        <!--<button
          class="button operation"
          #operations
          (click)="addOperationInput(i)"
          *ngFor="let i of
            ['⌦', '÷', '×', '-', '+', '=']"
          mat-button
        {{i}}</button> -->
      </div>
    </div>
  </div>
</ng-container>
