<button [style]="{'margin-bottom': '1em', 'display': 'inline'}" color="accent" mat-raised-button (click)="goBack()">Back to Periodic Table</button>
<h2 @expandIn class="mat-display-1 mat-elevation-z4 mat-card">{{element.name}}</h2>
<ng-container>
  <section class="element-general-properties">
    <h1 class="mat-h1">General Properties</h1>
    <div class="semi-container">
      <mat-card class="element-notation mat-elevation-z3">
        <span class="mat-h2 atomic-mass">{{toPrecision(element.atomicMass, 1)}}</span>
        <span class="mat-display-4 symbol">{{element.symbol}}</span>
        <span class="mat-h2 atomic-number">{{element.atomicNumber}}</span>
      </mat-card>
      <mat-list>
        <mat-list-item><span class="LHS">Atomic Mass:</span> &nbsp; {{element.atomicMass + ' amu'}}</mat-list-item>
        <mat-list-item><span class="LHS">Appearance:</span> &nbsp; {{element.appearance}}</mat-list-item>
        <mat-list-item><span class="LHS">Melting Point:</span> &nbsp; {{element.meltingPoint}}</mat-list-item>
        <mat-list-item><span class="LHS">Boiling Point:</span> &nbsp; {{element.boilingPoint}}</mat-list-item>
      </mat-list>
    </div>
    <p [innerHTML]="element.description"></p>
  </section>
  <mat-divider></mat-divider>
  <section class="image discovery-physicals">
    <img loading="lazy" [src]="elementImage" [width]="window.innerWidth/3" [alt]="'image of ' + element.name">
    <mat-list disableRipple="">
      <h1 class="mat-h1">Discovery</h1>
      <mat-list-item><span class="LHS" [style.white-space]="'nowrap'">Discovered by:</span> &nbsp; {{element.discoveredBy}}</mat-list-item>
      <mat-list-item><span class="LHS">Year discovered:</span> &nbsp; {{element.discovered}}</mat-list-item>
      <mat-list-item><span class="LHS">Category:</span> &nbsp; {{element.category | removeHyphen}}</mat-list-item>
      <mat-list-item><span class="LHS">State(<span matTooltip="Standard Temperature and Pressure">STP</span>):</span> &nbsp; {{element.state}}</mat-list-item>
      <mat-list-item><span class="LHS">Density:</span> &nbsp;<span [innerHTML]="stringToHTML(element.density)"></span></mat-list-item>
    </mat-list>
  </section>
  <mat-divider></mat-divider>
  <section class="bohr-model particle-details">
    <mat-list>
      <h1 class="mat-h1">Bohr Model of {{element.name}}</h1>
      <mat-list-item><span class="LHS">Protons:</span>&nbsp;{{element.atomicNumber}}</mat-list-item>
      <mat-list-item><span class="LHS">Neutrons:</span>&nbsp;{{Math.round(NumberConst.parseFloat(element.atomicMass) - element.atomicNumber)}}</mat-list-item>
      <mat-list-item><span class="LHS">Electrons:</span>&nbsp;{{element.atomicNumber}}</mat-list-item>
      <mat-list-item><span class="LHS">Electron Shells:</span>&nbsp;[{{element.shells | spaceAfter : ", "}}]</mat-list-item>
    </mat-list>
    <div class="model">
      <canvas #bohrModel2d></canvas>
      <label for="spin">Spin: </label>
      <input type="checkbox" [checked]="true" (change)="spinCheck($event, '2d')" name="spin">
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="model-3d position-details">
    <div class="model" style="max-height: 300px; width: fit-content">
      <canvas #bohrModel3d></canvas>
      <div class="model-3d-controls" [style]="{'display': 'flex', 'flex-direction': 'row', 'justify-content': 'space-around'}">
        <div class="model-3d-spin-control" style="margin-block: auto">
          <label for="spin">Spin: </label>
          <input type="checkbox" [checked]="true" (change)="spinCheck($event, '3d')" name="spin">
        </div>
        <div class="model-3d-spin-control">
          <span>Zoom: </span><mat-slider min="10" max="195" value="120"  (input)="onSliderChange($event)">
          </mat-slider>
        </div>
      </div>
    </div>
    <mat-list>
      <h1 class="mat-h1">3D Model of {{element.name}}</h1>
      <mat-list-item><span class="LHS">Group:</span>&nbsp;{{element.group}}</mat-list-item>
      <mat-list-item><span class="LHS">Block:</span>&nbsp;{{element.block}}-block</mat-list-item>
      <mat-list-item><span class="LHS">Period:</span>&nbsp;{{element.shells.length}}</mat-list-item>
      <mat-list-item><span class="LHS">Electron Configuration:</span>&nbsp;{{element.electronConfig}}</mat-list-item>
    </mat-list>
  </section>
  <mat-divider></mat-divider>
  <section class="history">
    <h1 class="mat-h1">History of {{element.name}}</h1>
    <mat-list>
      <mat-list-item *ngFor="let event of element.history">{{event}}</mat-list-item>
    </mat-list>
  </section>
  <mat-divider></mat-divider>
  <section class="applications">
    <h1 class="mat-h1">Uses of {{element.name}}</h1>
    <mat-list>
      <mat-list-item disableRipple="" *ngFor="let use of element.uses">{{use}}</mat-list-item>
    </mat-list>
  </section>
</ng-container>
