<blockquote>
  <q>Mathematics is the purest of the arts, as well as the most misunderstood.</q>
  <br/>
  <span>-Paul Lockhart</span>
</blockquote>
<br>

<section id="parchment">
  <h2 class="mat-h2">My introduction to graphics</h2>
  <p>
    I started learning about the canvas element just a few months after I was introduced to JavaScript. The Gif below was my first canvas project that I completed properly. It is a simple rain animation where I made the computer draw multiple lines at random coordinates above the screen and increment their y-coordinate in each frame.
  </p>
  <img src="assets/gifs/rain.gif" loading="lazy" style="width: 70%; margin-inline: auto; display: block" alt="">
</section>

<section id="conclusion">
  <p>You can also view my other canvas projects by clicking the <mat-icon>menu</mat-icon> above. These projects include chaotic attractors and physics simulations like the double pendulum.</p>
</section>
