@use "../abstracts";

:host {
  position: relative;
  @include abstracts.content-container-styles;
  padding: 0px;
  div.main-content {
    @include abstracts.content-container-styles;
    section {
      display: block;
      div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        img {
          display: block;
          max-width:5em;
          max-height:5em;
          width: auto;
          height: auto;
        }
      }
  }
}
}
