<app-space></app-space>
<div id="quick-intro" style="position: absolute; top: 50vh; left: 50%; transform: translate(-50%, -50%);">
  <h1
    class="mat-display-2" [@fadeIn]
    style="background-image: linear-gradient(90deg, var(--primary-color), var(--accent-color)); background-size: 100% 3px; background-repeat: no-repeat; background-position: left bottom; padding-bottom: 0.2em"
  >Welcome to my portfolio !</h1>
  <button
    aria-label="Scroll to main content"
    accesskey="arrow_down"
    (click)="scrollToMainContent()"
    style="position: relative; margin-inline: auto; display: block;"
    mat-icon-button
  ><mat-icon>south</mat-icon></button>
</div>
<div class="main-content">
  <section>
    <h1 class="mat-title" >Hey! I'm Rithish.</h1><br/><br/>
    <p>
      I'm a high school student from India currently studying my A Levels at APL GLobal School and I would like to share some of my projects on this website.
      I have keen interest in Mathematics, Computer Science and Physics.
    </p>
    <br/>
  </section>
  <br/>
  <section class="programming-journey">
    <h2 class="mat-h2">
      My introduction to Programming
    </h2>
    <p>
      JavaScript was my language that introduced me to the fundamentals of programming. Fast forward to today, I have learnt two more programming languages.
      One of them is Typescript, which I used to develop this site. The other one is C++, which I use for solving problems in leetcode.
    </p>
    <p>
      I use Typescript extensively to develop websites that include a lot of graphics such as the one you see above. For creating graphics and simulations I make use of the HTML5 canvas element, for low computational simulations, and webgl for 3d graphics that require a lot of quick repetitive operations.
    </p>
  </section>
  <br/>
  <section class="skills">
    <h2 class="mat-h2">
      Languages and Frameworks I'm familiar with:
    </h2>
    <div>
      <img [matTooltip]="skill.title" *ngFor="let skill of skills" [src]="skill.imageUrl">
    </div>
  </section>
  <br/>
  <br/>
</div>
