@use "../abstracts";

div.container {
  height: 100vh;
  width: 100%;
  min-height: 90vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.blob {
  position: absolute; z-index: 0; width: 10vw; height: 10vw;
  min-width: 8em; min-height: 8em;
  animation: rotate (random(2) + 5)+s linear infinite;
  background-color: var(--accent-color);
  opacity: 0.7;

  @keyframes rotate {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
  }
}
div.main {
  width: calc(100% - 7em);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  section {
    &.title {
      display: flex;
      min-width: 45%;
      padding: 2% 7%;
      margin-left: -3.5%;
      border-radius: 0% 100% 47% 53% / 61% 59% 50% 39%;
      box-shadow: 0 0 10em 15vw var(--primary-color);
      flex-flow: column;
      justify-content: space-evenly;
      div.introduction {
        span {
          display: block;
        }
        span:first-child {
          font-size: 1.3em;
          &::after {
            content: " !";
            font-size: 1.2em;
            color: var(--accent-color);
          }
        }
      }
    }
    @include abstracts.tablet-lg-landscape {
      &.image { flex-shrink: 1.5;}
      &.title { margin-left: -5%; min-width: 55%;}
    }
    @include abstracts.tablet-landscape {
      &.title { margin-left: -6%; min-width: 100%;}
    }
    @include abstracts.mobile-lg-landscape {
      &.title {
        margin-left: -8%; font-size: 2.5vw;
      }
    }
    @include abstracts.mobile-portrait {
      &.title {
        button {
          transform: scale(0.8);
        }
      }
    }
  }
}
